---
import Layout from '@layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

// Define pagination constant
export const ITEMS_PER_PAGE = 10;

// Type definition for params
interface Params {
  page: string;
}

// Static path generation
export async function getStaticPaths() {
  const newsEvents = await getCollection('newsEvents');
  const totalPages = Math.ceil(newsEvents.length / ITEMS_PER_PAGE);
  
  return Array.from({ length: totalPages }, (_, i) => {
    const page = i + 1;
    const start = i * ITEMS_PER_PAGE;
    const end = start + ITEMS_PER_PAGE;
    
    const paginatedItems = newsEvents
      .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
      .slice(start, end);
    
    return {
      params: { page: page.toString() },
      props: { paginatedItems, page, totalPages }
    };
  });
}

// Get props from getStaticPaths
const { paginatedItems, page, totalPages } = Astro.props;
const currentPage = page as number;
const pageData = {
	title: currentPage === 1 ? "Yin Yang House Chattanooga News and Events" : `Yin Yang House Chattanooga News and Events - Page ${currentPage}`,
	date: "",
	slug: currentPage === 1 ? "news-events" : `${currentPage}`,
	author: "",
	coverimage: "", 
	coveralt: "",
	parent: currentPage === 1 ? "" : `"news-events"`,
	description: "News and events related to the acupuncture, massage and wellness services offered at Yin Yang House Chattanooga.",
	ogImage: "",
	keywords: ["acupuncture news", "chattannoga wellness news", "chattanooga events", "massage therapy news"],
	socialTitle: "",
	socialDescription: "",
	layout: "",
}

---

<Layout fullWidth={false} thisPage={pageData} isArticle={true} isProduct={false}>
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 space-y-6 bg-white dark:bg-gray-800 shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-bold">Chattanooga Center News and Events</h1>
        <ul class="space-y-2">
            {paginatedItems.map(i => (
                <li class="list-disc ml-5"> 
                    <a href={`/news-events/${i.data.slug}`}>{i.data.title}</a> (Published: {new Date(i.data.date).toDateString()})
                </li>
            ))}
        </ul>

        <!-- Pagination Controls -->
        <div class="flex justify-between mt-6">
            {currentPage > 1 && (
                <a href={`/news-events/${currentPage - 1}`} class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm">
                    ← Previous
                </a>
            )}
            {currentPage < totalPages && (
                <a href={`/news-events/${currentPage + 1}`} class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm ml-auto">
                    Next →
                </a>
            )}
        </div>
    </div>
</Layout>
